
#main{
    display: flex;
    justify-content: center;
    text-align: center;
}
h1{
    margin: 7vh auto 5vh auto;
    text-align: center;
}
/* --------------- Calculatrice --------------- */
#generale{
    display: flex;
    display: grid;
    margin: auto;
    width: 70vw;
    height: 110vw;
    max-width: 450px;
    max-height: 707px;
    grid-template-rows: 100px;
    grid-template-areas: 
    'a';
    background-color: rgb(20, 65, 68);
    border-top: rgb(74, 74, 74) solid 5px;
    border-left: rgb(74, 74, 74) solid 5px;
    border-right: rgb(44, 44, 44) solid 5px;
    border-bottom: rgb(44, 44, 44) solid 5px;
    border-radius: 10px;
    overflow: hidden;
    text-overflow: ellipsis; 
}
/* --------------- Ecran d'affichage --------------- */
#entete{
    grid-area: a;
    width: 70vw;
    max-width: 450px;
    height: 100px;
    max-height: 100px;
    position: relative;
}
#ecran{
    width: 90%;
    height: 80%;
    position: relative;
    top: 10%;
    word-wrap: break-word;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis; 
}
#saisie{ 
    text-align: right;
    color: rgb(250, 201, 78);
}
#calcul{ 
    left: 0px;
    color: rgb(250, 201, 78);
    margin-bottom: 10px;
}
#total{
    text-align: left;
    font-size: 1.4rem;
    color: rgb(255, 183, 0);
    bottom: 0px;
}
#totalheure{
    text-align: right;
    font-size: 1.4rem;
    color: rgb(119, 201, 65);
    bottom: 0px;
}
p{
    display: block;
    font-weight: bold;
    line-height: 20px;
    margin: auto 5px;
    overflow: hidden;
    text-overflow: ellipsis; 
}
/* --------------- Affichage complémentaire --------------- */
#lader{
    text-align: center;
    display: none;
}
.newP{
    display: inline-block;
    font-weight: bold;
    line-height: 20px;
    font-size: 1.4rem;
    margin: 20px auto;
}
#newTotal{
    color: rgb(255, 123, 0);
}
#newTotalheure{
    color: rgb(79, 172, 17);
}
/* --------------- Clavier et boutons --------------- */
#clavier{
    display: flex;
    display: grid;
    grid-template-rows: 19.8% 19.8% 19.8% 19.8% 19.8%;
    grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
    width: 70vw;
    max-width: 450px;
    grid-template-areas: 
    'b1 b2 b3 b4'
    'c1 c2 c3 c4'
    'd1 d2 d3 d4'
    'e1 e2 e3 e4'
    'f1 f2 f3 f4';
    flex-direction: column;
    justify-content: center;
    background-color: rgb(94, 94, 94);
}
.boutons{
    border-radius: 5px;
    border-top: rgb(153, 153, 153) solid 5px;
    border-left: rgb(153, 153, 153) solid 5px;
    border-bottom: rgb(49, 49, 49) solid 5px;
    border-right: rgb(49, 49, 49) solid 5px;
    font-size: 1.8rem; 
    margin: 0.15rem;
    word-wrap: break-word;
}
.boutons:hover{
    background-color: rgb(206, 206, 206);
}
.boutons:active{
    background-color: rgb(180, 180, 180);
    border: rgb(84, 84, 84) solid 5px;
    font-size: 1.7rem; 
}
#btnreset{
    grid-area: b1;
    margin-top: 5px;
}
#btngomme{
    grid-area: b2;
    margin-top: 5px;
}
#btnrange{
    grid-area: b3;
    margin-top: 5px;
}
#btndiviser{
    grid-area: b4;
    margin-top: 5px;
}
#btn7{
    grid-area: c1;
}
#btn8{
    grid-area: c2;
}
#btn9{
    grid-area: c3;
}
#btnmultiplier{
    grid-area: c4;
}
#btn4{
    grid-area: d1;
}
#btn5{
    grid-area: d2;
}
#btn6{
    grid-area: d3;
}
#btnsoustraire{
    grid-area: d4;
}
#btn1{
    grid-area: e1;
}
#btn2{
    grid-area: e2;
}
#btn3{
    grid-area: e3;
}
#btnadditionner{
    grid-area: e4;
}
#btnH{
    grid-area: f1;
}
#btn0{
    grid-area: f2;
}
#btnpoint{
    grid-area: f3;
}
#btnegal{
    grid-area: f4;
}
/* ----------------------- media -----------------*/
@media (max-width: 600px){ 
    h1{
        margin: 1vh auto 1vh auto;
    }
    #entete{
        grid-area: a;
        width: 95vw;
        max-width: 95vw;
        height: 15vh;
        max-height: 15vh;
    }
    #ecran{
        width: 90%;
        height: 90%;
        position: relative;
        left: 0;
        top: 10px;
    }
    #generale{
        width: 95vw;
        height: 85vh;
        max-width: 95vw;
        max-height: 85vh;
        background-color: rgb(20, 65, 68);
        border-radius: 10px;
    }
    #clavier{
        width: 95vw;
        max-width: 95vw;
    }
    .boutons{
        font-size: 1.3rem;
    }
    .boutons:active{
        font-size: 1.2rem; 
    }
} 
@media (max-width: 350px){
    #btnreset{
        font-size: 1.1rem;
    }
} 

