
#main{
    display: flex;
    justify-content: center;
}
#titre{
    margin: 8vh auto 6vh auto;
    text-align: center;
}
#generale{
    display: flex;
    display: grid;
    margin:auto;
    width: 70vw;
    height: 110vw;
    max-width: 450px;
    max-height: 707px;
    grid-template-rows: 100px;
    grid-template-areas: 
    'a';
    background-color: #555;
    overflow:hidden;
    text-overflow: ellipsis; 
}
#entete{
    grid-area: a;
    width: 70vw;
    max-width: 450px;
    height: 100px;
    max-height: 100px;
    background-color: #555;
    position:relative;
}
#ecran{
    width: 90%;
    height: 80%;
    position:absolute;
    left:5%;
    top:10%;
    word-wrap: break-word;
    background-color: darkblue;
    margin:0 auto;
}
#saisie{ 
    text-align: right;
    color: darkgoldenrod;
}
#resultat{ 
    left:0px;
    color: rgb(236, 179, 35);
}
#total{
    text-align: left;
    font-size: 1.4rem;
    color: rgb(252, 216, 127);
    bottom: 0px;
}
#totalheure{
    text-align: right;
    font-size: 1.4rem;
    color: rgb(119, 201, 65);
    bottom: 0px;
}
p{
    display:block;
    font-weight: bold;
    line-height: 20px;
    margin:auto 5px;
    overflow:hidden;
    text-overflow: ellipsis; 
}
#clavier{
    display: flex;
    display:grid;
    grid-template-rows: 19.8% 19.8% 19.8% 19.8% 19.8%;
    grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
    width: 70vw;
    max-width: 450px;
    grid-template-areas: 
    'b1 b2 b3 b4'
    'c1 c2 c3 c4'
    'd1 d2 d3 d4'
    'e1 e2 e3 e4'
    'f1 f2 f3 f4';
    flex-direction: column;
    justify-content: center;
    background-color: #444;
}
.boutons{
    border-radius: 5px;
    border: black solid 1px;
    font-size: 1.8rem; 
    margin: 0.15rem;
}
.boutons:hover{
    background-color: rgb(206, 206, 206);
}
#btnreset{
    grid-area: b1;
    margin-top: 5px;
}
#btngomme{
    grid-area: b2;
    margin-top: 5px;
}
#btnrange{
    grid-area: b3;
    margin-top: 5px;
}
#btndiviser{
    grid-area: b4;
    margin-top: 5px;
}
#btn7{
    grid-area: c1;
}
#btn8{
    grid-area: c2;
}
#btn9{
    grid-area: c3;
}
#btnmultiplier{
    grid-area: c4;
}
#btn4{
    grid-area: d1;
}
#btn5{
    grid-area: d2;
}
#btn6{
    grid-area: d3;
}
#btnsoustraire{
    grid-area: d4;
}
#btn1{
    grid-area: e1;
}
#btn2{
    grid-area: e2;
}
#btn3{
    grid-area: e3;
}
#btnadditionner{
    grid-area: e4;
}
#btnH{
    grid-area: f1;
}
#btn0{
    grid-area: f2;
}
#btnpoint{
    grid-area: f3;
}
#btnpoint:disabled{
    background-color: rgb(207, 207, 207);
}
#btnegal{
    grid-area: f4;
}

@media (max-width: 500px){ 
    .boutons{
        font-size: 1.3rem;
    }
} 
@media (max-width: 400px){
    #btnreset{
        font-size: 1.1rem;
    }
    #btnrange{
        font-size: 1.1rem;
    }
} 

