:root {
    --color-bolder: rgb(253, 162, 106);
    --color-bold: rgb(244,204,166);
    --color-medium: rgb(244,244,166);
    --color-light: rgb(204, 253, 170);
    --color-buttons: rgb(244,244,206);
    --color-ope: rgb(244,184,146);
}

html, body, div, span,
h1, h2, h3, h4, h5, h6, p{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body{
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    background-image: url('./pexels-karolina-grabowska-4386370.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    position: relative;
    height: 88px;
    margin: 2.5vh auto 2.5vh auto;
    position: relative;
    width: 200px;
    line-height: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(44,44,44);
    width: 200px;
    border-radius: 0 44px 0 44px;
}

h1 a,
h1 a:visited,
h1 a:active {
    width: 200px;
    padding: 0px;
    margin: 0px;
    height: 50%;
    transition: .8s;
    color: rgb(44,44,44);
    background-color: rgb(244,244,226);
    text-decoration: none;
    border-radius: 0 0 0 44px;
}

h1 a:hover {
    color: rgb(244,244,226);
    background-color: rgb(44,44,44);
}

h1 a:first-child {
    color: rgb(244,244,226);
    background-color: transparent;
    border-radius: 0 44px 0 0;
}

h1 a:first-child:hover {
    color: rgb(44,44,44);
    background-color: rgb(244,244,226);
}
/* --------------- Calculatrice --------------- */
#calculator{
    display: flex;
    display: grid;
    margin: auto;
    width: 70vw;
    height: 71vh;
    max-width: 450px;
    /* max-height: 666px; */
    grid-template-rows: 100px;
    grid-template-areas: 
    'a';
    /* background-color: rgb(20, 65, 68); */
    background-color: rgb(48, 85, 68, 0.9);
    border-top: rgb(74, 74, 74) solid 5px;
    border-left: rgb(74, 74, 74) solid 5px;
    border-right: rgb(44, 44, 44) solid 5px;
    border-bottom: rgb(44, 44, 44) solid 5px;
    border-radius: 10px;
    overflow: hidden;
    text-overflow: ellipsis; 
}
/* --------------- Ecran d'affichage --------------- */
#calculator-head{
    grid-area: a;
    width: 70vw;
    max-width: 450px;
    height: 100px;
    max-height: 100px;
    position: relative;
}
#calculator-screen{
    width: 90%;
    height: 80%;
    position: relative;
    top: 10%;
    word-wrap: break-word;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis; 
}
#user-input{ 
    text-align: right;
    color: rgb(255, 183, 0);
}
#current-operation{ 
    left: 0px;
    color: rgb(255, 183, 0);
    margin-bottom: 10px;
}
#total-decimal{
    text-align: left;
    font-size: 1.4rem;
    color: rgb(255, 183, 0);
    bottom: 0px;
    font-size: 24px;
}
#total-clock{
    text-align: right;
    font-size: 1.4rem;
    color: rgb(148, 230, 94);
    bottom: 0px;
    font-size: 24px;
}
p{
    display: block;
    font-weight: bold;
    line-height: 25px;
    margin: auto 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* font-size: 88px;avec que de 8 à entrer en input c'est magnifique */
    font-size: 22px;
}
/* --------------- Affichage complémentaire --------------- */
#total-text{
    text-align: center;
    display: none;
}
.newP{
    display: inline-block;
    font-weight: bold;
    line-height: 20px;
    font-size: 1.4rem;
    margin: 20px auto;
    color: rgb(244,244,226);
}
.totalOrange{
    color: rgb(255, 183, 0);
    font-size: 24px;
}
.totalGreen{
    color: rgb(148, 230, 94);
    font-size: 24px;
}
/* --------------- Clavier et boutons --------------- */
#calculator-body{
    display: flex;
    display: grid;
    grid-template-rows: 19.8% 19.8% 19.8% 19.8% 19.8%;
    grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
    width: 70vw;
    max-width: 450px;
    grid-template-areas: 
    'b1 b2 b3 b4'
    'c1 c2 c3 c4'
    'd1 d2 d3 d4'
    'e1 e2 e3 e4'
    'f1 f2 f3 f4';
    flex-direction: column;
    justify-content: center;
    background-color: rgb(91, 91, 91);
}
.buttons{
    border-radius: 5px;
    border-top: rgb(152, 152, 152) solid 5px;
    border-left: rgb(152, 152, 152) solid 5px;
    border-bottom: rgb(44, 44, 44) solid 5px;
    border-right: rgb(44, 44, 44) solid 5px;
    font-size: 1.8rem; 
    margin: 0.15rem;
    word-wrap: break-word;
    background-color: rgb(244,244,226);
    transition: 0.3s;
}
.buttons:active{
    background-color: rgb(204,204,166);
    border: rgb(66,66,66) solid 5px;
    font-size: 1.7rem; 
}


#btnDelete{
    grid-area: b1;
    margin-top: 5px;
}
#btnBackspace{
    grid-area: b2;
    margin-top: 5px;
}
#btnr{
    grid-area: b3;
    margin-top: 5px;
}
#btnr span {
    font-size: 17px;
}
#btnDiv{
    grid-area: b4;
    margin-top: 5px;
}
#btn7{
    grid-area: c1;
}
#btn8{
    grid-area: c2;
}
#btn9{
    grid-area: c3;
}
#btnMul{
    grid-area: c4;
}
#btn4{
    grid-area: d1;
}
#btn5{
    grid-area: d2;
}
#btn6{
    grid-area: d3;
}
#btnSub{
    grid-area: d4;
}
#btn1{
    grid-area: e1;
}
#btn2{
    grid-area: e2;
}
#btn3{
    grid-area: e3;
}
#btnAdd{
    grid-area: e4;
}
#btnh{
    grid-area: f1;
}
#btn0{
    grid-area: f2;
}
#btnPt{
    grid-area: f3;
}
#btnEnter{
    grid-area: f4;
}
.buttons:hover{
    background-color: var(--color-buttons);
}
.btnOpe:hover {
    background-color: var(--color-ope);
}
#btnDelete:hover{
    background-color: var(--color-bolder);
}
#btnBackspace:hover {
    background-color: var(--color-bold);
}
#btnh:hover{
    background-color: var(--color-medium);
}
#btnPt:hover{
    background-color: var(--color-medium);
}
#btnEnter:hover{
    background-color: var(--color-light);
}
.btn-enlight {
    background-color: var(--color-light);

}
/* ----------------------- media -----------------*/
@media (max-width: 600px){ 
    h1{
        margin: 1vh auto 1vh auto;
    }
    #calculator-head{
        grid-area: a;
        width: 95vw;
        max-width: 95vw;
        height: 15vh;
        max-height: 15vh;
    }
    #calculator-screen{
        width: 90%;
        height: 90%;
        position: relative;
        left: 0;
        top: 10px;
    }
    #calculator{
        width: 95vw;
        height: 85vh;
        max-width: 95vw;
        max-height: 85vh;
        background-color: rgb(20, 65, 68);
        border-radius: 10px;
    }
    #calculator-body{
        width: 95vw;
        max-width: 95vw;
    }
    .boutons{
        font-size: 1.3rem;
    }
    .boutons:active{
        font-size: 1.2rem; 
    }
} 
@media (max-width: 350px){
    #btnDelete{
        font-size: 1.1rem;
    }
} 

